Django==4.2.20
asgiref==3.8.1
sqlparse==0.5.3
crispy-bootstrap5
django-storages==1.14.6
pillow==11.1.0
pytest
pytest-django
pylint
pylint_django
django-crispy-forms==2.3
boto3==1.34.0
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.20
idna==3.10
pytz==2025.2
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.13.1
#urllib3==2.3.0
urllib3
